<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PokeManager</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
  <style>
    header {
      text-align: center;
    }
    h1 {

    }
    #login {
      font-size: 12px;
      
    }
    body{
      font-family: 'Fredoka One', cursive;
    }
    .logout-btn {
      float: right;
      align: right;
      padding: 3px;
    }
  </style>
</head>
<body>
  <header>
      <% if logged_in? %>
    <div class="logout-btn">
      <%= current_user['username']%>

      <form action="/session" method="post">
        <input type="hidden" name="_method" value="delete">
        <button>logout</button>
      </form>
    </div>
    <% end %>
    <h1><a href="/"><img src="/images/PokeManager_medium.png"></a></h1>

  </header>
  
  
  <%= yield %>

</body>
</html>
