<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Account</title>
    <style>
        body {
            background-image: url("/images/FrenchFastJaguar-max-1mb.gif");
            background-size: cover;
            height: 100vh;
        }
        h2 {
            text-align: center;
        }
        .no-bullet {
            list-style-type: none;
            padding: 0;
        }
        .container {
            display: flex;
            flex-direction:column;
            
            max-width: 400px;
            margin: 0 auto;
            background-color: lightgray;
            border: 2px solid black;
            padding: 20px;
        }
        .input_fields {
            margin: 10px;
            font-size: 14px;
            padding: 8px;
            width: 220px;

        }
        #create-btn {
            cursor: pointer;
            margin-top: 20px;
            padding: 10px 20px;
            font-size: 14px;
        }
    </style>
</head>
<body>
    <div class="container">
        <form action="/user/new" method="post">
            <div class="box">
            <h2>Create New Account</h2>
                <ul class="no-bullet">
                    <li>
                        <label for="username"></label>
                        <input type="text" class="input_fields" name="username" placeholder="Username">
                    </li>
                    <li>
                        <label for="email"></label>
                        <input type="text" class="input_fields" name="email" placeholder="email">
                    </li>
                    <li>
                        <label for="password"></label>
                        <input type="password" class="input_fields" name="password" placeholder="Password">
                    </li>
                    <li>
                        <button id="create-btn">Create</button>
                    </li>
                </ul>
            </div>
        </form>
    </div>
</body>
</html>
